.chat-main
  .message-info
    .message-info__left-box
      .message-info__left-box__group-name
        = @group.name
      %ul.message-info__left-box__member-list
        Member : 
        %li.message-info__left-box__member-list__member
          = @group.id
    .message-info__edit-btn
      = link_to "Edit", edit_group_path(@group)

  .messages
    = render @messages

  .message-form
    = form_for [@group, @message],html:{id: "new_message"} do |f|
      .message-form__box
        = f.text_field :content, class: 'message-form__message', placeholder: 'type a message'
        = f.label :image, class: 'message-form__box__image' do
          = icon('fas', 'image', class: 'icon')
          = f.file_field :image, class: 'hidden'
      = f.submit 'Send', class: 'form__submit'